<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container" style="margin-top: 3.5rem">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Tên</div>
                    <div class="col col-2">Số điện thoại</div>
                    <div class="col col-3">Địa chỉ</div>
                    <div class="col col-4">Thao tác</div>
                </li>
                <li class="table-row" th:each="rece: ${receiver}">
                    <div class="col col-1" data-label="Job Id" th:text="${rece.name}"></div>
                    <div class="col col-2" data-label="Customer Name" th:text="${rece.phone}"></div>
                    <div class="col col-3" data-label="Amount" th:text="${rece.address}"></div>
                    <div class="col col-4" data-label="Payment Status">
                        <a href="#">Sửa</a>
                        <a href="#">Xóa</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>