<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1 style="margin-top: 3.5rem">Bạn đã mua hàng thành công </h1>
                <a class="btn1" th:href="@{/view/backProductChiTiet}"
                   style="text-decoration: none;color: white;font-size: 16px;background-color: #4d5154">
                    Quay lại</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>