<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/user/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/user/css/styles.css}" rel="stylesheet" />
        <style>
            .navbar{
                /*cố định mennu */
                /*background-color: black;*/
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100000;
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid px-4 px-lg-5">
                <p class="navbar-brand"
                   style="border-radius: 10px;background-color: black;border: 1px solid #b6effb;padding: 0.25rem;color: #b6effb" >
                    LapTop.vn
                </p>
<!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Trang chủ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mức giá</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/view/price_up}">Tăng dần</a></li>
                                <li><a class="dropdown-item" th:href="@{/view/price_down}" >Giảm dần</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/price_15}">Dưới 15 triệu</a></li>
                                <li><a class="dropdown-item" th:href="@{/view/price_15_25}">15 ~ 25 triệu</a></li>
                                <li><a class="dropdown-item" th:href="@{/view/price_25_35}">25 ~ 35 triệu</a></li>
                                <li><a class="dropdown-item" th:href="@{/view/price_35}">Trên 35 triệu</a></li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hãng</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/view/accer}">Accer</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/asus}">Asus</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/dell}">Dell</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/apple}">Apple</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/hp}">Hp</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" th:href="@{/view/lenovo}">Lenovo</a></li>
                                <li><hr class="dropdown-divider" /></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container-fluid px-4 px-lg-5 my-5">
                <img src="/admin/assets/img/banner-00.jpg"
                     alt="..." style="width: 100%;height: 300px">
<!--                <div class="text-center text-white">-->
<!--                    <h1 class="display-4 fw-bolder">Shop in style</h1>-->
<!--                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>-->
<!--                </div>-->
            </div>

        </header>
        <!-- Section-->
        <div class="py-5" layout:fragment="content">
            <div class="container-fluid px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each="pro: ${product}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="'/product_image/'+${pro.image.url}" alt="..." />
<!--                            <img class="card-img-top" src="/product_image/laptop_hp_240_1.jpg" alt="..." />-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${pro.name} +'/'+ ${pro.notes}"></h5>
                                    <!-- Product price-->
                                    <p >Giá chỉ: <span th:text="${#numbers.formatDecimal(pro.price,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></span></p>
                                    <p>Số lượng: <span th:text="${pro.quatity}"></span></p>
                                    <div th:if="${pro.isactive == 1}">
                                        <h5 style="color: greenyellow">Còn bán</h5>
                                    </div>
                                    <div th:if="${pro.isactive == 0}">
                                        <h5 style="color: orangered">Đã hết hàng</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{'/view/productChiTiet/'+${pro.id}}">Xem Sản phẩm</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Xây dựng và pha triển bởi: <span style="color: greenyellow">Ngô Văn Minh</span> </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/user/js/scripts.js}"></script>
    </body>
</html>
