<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/product/detailPro}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-6" layout:fragment="updateProImg" style="border: 2px solid black;border-radius: 10px;padding: 1rem">
    <form th:action="@{'/image/updateImgPro/'+${productDetail.id}}" method="post" enctype="multipart/form-data">
        <div class="row">
            <h2>Ảnh chính</h2><br>

            <br>
<!--            <div class="col-12" >-->
<!--                <img style="width: 70%" th:id="${proImg.image}" th:src="@{'/product_image/'+${proImg.url}}" >-->
<!--            </div>-->
<!--            <div class="col-12" style="margin-top: 0.5rem">-->
<!--                <img id="image" style="width: 70%">-->
<!--                <label for="file"  style="color: #b6effb;margin-top: 0.5rem;" class="btn1">Ảnh thay đổi</label>-->
<!--            </div>-->

            <div class="col-12" style="margin-top: 0.5rem" >
                <div class="row" >
                    <div class="col-4" th:each="img: ${productImages}">
                        <img style="width: 95%;align-items: center" th:id="${img.id}" th:src="@{'/product_image/'+${img.url}}"><br>
                        <input class="checkBox"
                               style="margin-top: 0.5rem"
                               type="checkbox" name="idImg"
                               th:value="${img.id}"
                               th:checked="${img.id} == ${proImg.image}"
                               onclick="checkedOnClick(this)"
                        >
                    </div>
                </div>

            </div>

<!--            <br>-->
<!--            <input type="file" name="file" id="file" accept="multipart/form-data" onchange="loadImageDetail(event)">-->
<!--            <a style="margin-top: 1rem;width: 50px" class="btn1" href="#">Sửa</a>-->

            <h2 style="margin-top: 1rem">Ảnh chi tiết sản phẩm</h2><br>
<!--            khai báo img : lấy ra dữ liệu của productImage-->
<!--            khai báo size : đếm số của vòng for-->
<!--            tham khảo lấy biến size ở web: https://frontbackend.com/thymeleaf/using-th-each-in-thymeleaf-->
            <div class="col-12" style="border-radius: 10px;margin-bottom: 1rem" th:each="img,size: ${productImages}">
                <div class="row" style="margin-bottom: 1rem">
                    <div class="col-4">
                        <img width="180" th:src="@{'/product_image/'+${img.url}}">
                    </div>
                    <div class="col-4">
                        <img th:id="image+${img.id}"  width="180" >
                        <input type="hidden"  th:name="img+${size.index+1}" th:value="${img.id}"> <!--lấy img theo thứ tự voòng lặp mang giá trị của idProductImage-->
                        <center><label th:id="${img.id}" style="margin-top: 0.5rem;" >Ảnh thay đổi</label></center>
                    </div>
                    <!--lấy name để requesparam theo size của vong lặp -->
<!--                    lấy size theo index (đếm số vòng lặp) -->
                    <input type="file" th:name="file+${size.index+1}"
                           style="margin-top: 0.5rem"
                           th:id="${img.id}" accept="multipart/form-data"
                           onchange="loadImageDetail1(event,this.id)">
<!--                    thêm ảnh chi tiết sản phẩm , giới hạn chỉ có 3 ảnh chi tiết-->
<!--                    trường hợp có 1 ảnh -->
                    <div th:if="${productImages.size() ==1 }">
                        <div class="col-8" style="margin-top: 0.5rem">
                            <img th:id="image_a"  width="180" >
                            <input type="hidden"  th:name="img+${size.index+2}" th:value="${img.id}"> <!--lấy img theo thứ tự voòng lặp mang giá trị của idProductImage-->
                        </div>
                        <label th:for="${img.id}">Thêm ảnh</label>
                        <input type="file" th:name="file+${size.index+2}"
                               style="margin-top: 0.5rem"
                               id="a" accept="multipart/form-data"
                               onchange="loadImageDetail2(event,this.id)"
                        >
                        <br>
                        <div class="col-8" style="margin-top: 0.5rem">
                            <img th:id="image_b"  width="180" >
                            <input type="hidden"  th:name="img+${size.index+3}" th:value="${img.id}"> <!--lấy img theo thứ tự voòng lặp mang giá trị của idProductImage-->
                        </div>
                        <label th:for="${img.id}">Thêm ảnh</label>
                        <input type="file" th:name="file+${size.index+3}"
                               style="margin-top: 0.5rem"
                               id="b" accept="multipart/form-data"
                               onchange="loadImageDetail2(event,this.id)"
                        >
                    </div>
<!--                    trường hợp có 2 ảnh: cùng lúc ktra 2 điều kiện:
                        productImages.size() : kích cỡ vòng lặp
                        size.index+1 : vị trí lặp
 -->
                    <div th:if="${productImages.size() ==2 && size.index+1 == 2}">
                        <div class="col-8" style="margin-top: 0.5rem">
                            <img th:id="image_c"  width="180" >
                            <input type="hidden"  th:name="img+${size.index+2}" th:value="${img.id}"> <!--lấy img theo thứ tự voòng lặp mang giá trị của idProductImage-->
                        </div>
                        <label th:for="${img.id}">Thêm ảnh</label>
                        <input type="file" th:name="file+${size.index+2}"
                               style="margin-top: 0.5rem"
                               id="c" accept="multipart/form-data"
                               onchange="loadImageDetail2(event,this.id)"
                        >
                    </div>
                </div>
                </div>
            </div>
            <br>
        <button class="btn1"
                style="color: white;margin-top: 1rem;margin-bottom: 1rem"
                type="submit" >Cập nhật ảnh sản phẩm</button>
    </form>

</div>

</body>
</html>