<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <section  style="background-color: #fdccbc;margin-top: 3.5rem" >
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col">
                    <p style="margin-top: 1rem"><span class="h2">Các đơn mua</span></p>
                    <h3 style="color: red" th:text="${message}"></h3>
                    <div class="card mb-4" th:each="pro: ${cart}">
                        <div class="card-body p-4">
                            <div class="row align-items-center">
                                <div class="col-md-2" >
                                    <img th:src="'/product_image/'+${pro.image.url}"
                                         class="img-fluid" alt="Generic placeholder image">
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Name</p>
                                        <p class="lead fw-normal mb-0" th:text="${pro.name}"></p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Quantity</p>
                                        <p class="lead fw-normal mb-0" >
                                        <form th:action="@{'/shopping_cart/update3/'+${pro.idCustomer}}" enctype="multipart/form-data" method="post">
                                            <a th:href="@{'/shopping_cart/update1/'+${session.saveCus.id}+'/'+${pro.id}}"
                                               style="text-decoration: none;border: 1px solid black;padding: 0.25rem;border-radius: 10px">
                                                <b>-</b></a>

                                                <input type="text" name="idPro" id="idPro" hidden="hidden" th:value="${pro.idPrduct}"> <!--lấy idpro để update3-->
                                                <input type="text" name="idCart" id="idCart" hidden="hidden" th:value="${pro.id}"> <!--lấy idCart đẻ uppdate3-->
                                                <input type="number" name="quantity" id="quantity" th:value="${pro.quantity}" style="width: 75px">
                                                <button type="submit" hidden="hidden">submit</button>

                                            <a th:href="@{'/shopping_cart/update2/'+${session.saveCus.id}+'/'+${pro.idPrduct}+'/'+${pro.id}}"
                                               style="text-decoration: none;border: 1px solid black;padding: 0.25rem;border-radius: 10px">
                                                <b>+</b></a>
                                        </form>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Price</p>
                                        <p class="lead fw-normal mb-0" th:text="${#numbers.formatDecimal(pro.price,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2">Remove</p>
                                        <a
                                                style="text-decoration: none;border: 1px solid black;padding: 0.25rem;border-radius: 10px"
                                                th:href="@{'/shopping_cart/remove/'+${session.saveCus.id}+'/'+${pro.id}}">
                                            <b>X</b></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2">Order total:</span> <span
                                        class="lead fw-normal" th:text="${#numbers.formatDecimal(total,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-end" style="margin-bottom: 1rem">

                        <a class="btn1"
                           th:href="@{/view/backProductChiTiet}"
                           style="text-decoration: none;color: white;font-size: 16px;background-color: #4d5154">Tiếp tục mua</a>
                        <div style="width: 5px"></div>
                        <a th:href="@{'/order/showOrder/'+${session.saveCus.id}}" class="btn1" style="text-decoration: none;color: #b6effb">Đặt hàng</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>